DEEPSEEK_API_KEY=your_deepseek_api_key
DEEPSEEK_BASE_URL=your_deepseek_base_url

BOYUE_API_KEY=your_boyue_api_key
BOYUE_API_URL=your_boyue_api_url

# 日志配置
LOG_LEVEL=debug
LOG_OUTPUT=logs/app.log  # 日志输出路径
DISABLE_LOG=false        # 是否禁用日志
